<div class="row">
<div class="col-xs-4">
  <div class="form-group">
    <%= f.label :player_id_name, "プレイヤーIDネーム", for: "player_id_name" %>
    <%= f.text_field :player_id_name, class: "form-control", id: "player_id_name" %>
  </div>
</div>
<div class="col-xs-4">
  <%= fields_for @player_character, room_room_members_path(room_uuid) do |c| %>
    <div class="form_group">
      <%= c.label :name ,'キャラクター名' %>
      <%= c.text_field :name, class: "form-control" %>
    </div>
  </div>
  <% main_class_options = options_for_select(PlayerCharacter::CLASS_LIST, @player_character.main_class) %>
  <div class="col-xs-2">
    <div class="form_group">
      <%= c.label :main_class, 'メインクラス' %>
      <%= c.select :main_class, main_class_options, {:include_blank => true}, {class: "form-control"} %>
    </div>
  </div>
  <% sub_class_options = options_for_select(PlayerCharacter::CLASS_LIST, @player_character.sub_class) %>
  <div class="col-xs-2">
    <div class="form_group">
      <%= c.label :sub_class, 'サブクラス' %>
      <%= c.select :sub_class, sub_class_options, {:include_blank => true}, {class: "form-control"} %>
    </div>
  </div>
  <% end %> 
</div>
<div class="row">
  <%= fields_for @room_member, room_room_members_path(room_uuid) do |c| %>
    <div class="checkbox">
      <%= c.check_box :acceptable_room_leader %>
      <%= c.label :acceptable_room_leader ,'ルームリーダー引受可能' %>
    </div>
    <div class="checkbox">
      <%= c.check_box :acceptable_party_leader %>
      <%= c.label :acceptable_party_leader, 'パーティーリーダー引受可能' %>
    </div>
  <% end %>
</div>
  <div class="actions">
  <p><%= f.submit '登録する', :class => "btn btn-default" %></p>
  </div>
