<h2>募集中の固定</h2>

<ul class="list-group">
<% @rooms.each do |room| %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-5"><%= room.name %></div>
      <div class="col-md-2"><%= link_to '詳細を確認', room_path(room.uuid) %></div>
      <div class="col-md-2"><%= "参加数 : " + room.players.count.to_s + (room.max_player.blank? ? "" : "/" + room.max_player.to_s) %></div>
      <div class="col-md-2"><%= room.quest_start_time.strftime('%m月%d日 %H:%M') + "開始" %></div>
      <div class="col-md-1">
        <%= link_to '削除', room_path(room.uuid), method: :delete, class: "btn active btn-danger btn-xs", data: { confirm: '固定部屋を削除しますか？' } %>
      </div>
    </div>
  </li>
<% end %>
</ul>

<%= link_to '新しい固定を作成する', action: "new" %>
