<h1><%= @room.name %> の詳細</h1>
<dl class="dl-horizontal">
<dt>ブロックNo</dt><dd><%= @room.block_no %></dd>
<dt>集合場所</dt><dd><%= @room.block_place %></dd>
<dt>集合時刻</dt><dd><%= @room.meeting_time %></dd>
<dt>クエスト開始</dt><dd><%= @room.quest_start_time %></dd>
<dt>クエスト終了<dd><%= @room.quest_end_time %></dd>
<dt>最少人数<dd><%= @room.min_player %></dd>
<dt>最大人数<dd><%= @room.max_player %></dd>
<dt>部屋のパスワード<dd><%= @room.room_pass %></dd>
</dl>
<div class="panel panel-default">
  <div class="panel-heading">詳細説明</div>
  <div class="panel-body">
    <%= @room.description.nil? ? '未入力' : simple_format(@room.description) %> 
  </div>
</div>

<%= link_to '編集する', edit_room_path, :action => "edit", class: "btn active btn-default" %>

<% unless @room.players.empty? %>
<h2>現在の参加メンバー</h2>
<ol class="list-group">
  <% @room.room_members.each do |room_member| %>
  <li class="list-group-item">
    <%= room_member.player.player_id_name %>
    <%= 'ルームリーダー可' if room_member.acceptable_room_leader %>
    <%= 'パーティーリーダー可' if room_member.acceptable_party_leader %>
    <%= link_to 'キック', room_room_member_path(room_member.id), :action => "destroy", method: :delete, class: "btn active btn-danger",
    data: { confirm: room_member.player.player_id_name + 'をキックしますか？' } %> </li>
  <% end %>
</ol>
<% end %>

<h3>固定に参加する</h3>
<%= render 'add_guest_form' %>

