<h1>固定詳細</h1>
<ul>
<li><%= @room.name %></li>
<li><%= @room.quest_start_time %></li>
<li><%= @room.quest_end_time %></li>
<li>
  <ol>
  <% @room.players.each do |player| %>
    <li><%= player.player_id_name %></li>
  <% end %>
  </ol>
</li>
</ul>

<%= render 'add_guest_form' %>

<%= link_to '戻る', action: "index" %>

