<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js" %>

<div class="page-header">
<h1><%= @room.name %> の詳細</h1>
</div>

<dl class="dl-horizontal">
<dt>ブロックNo</dt><dd><%= @room.block_no %></dd>
<dt>集合場所</dt><dd><%= @room.block_place %></dd>
<dt>集合時刻</dt><dd><%= @room.meeting_time.strftime('%m月%d日 %H:%M') %></dd>
<dt>クエスト開始</dt><dd><%= @room.quest_start_time.strftime('%m月%d日 %H:%M') %></dd>
<dt>クエスト終了<dd><%= @room.quest_end_time.strftime('%m月%d日 %H:%M') %></dd>
<dt>最少人数<dd><%= @room.min_player %></dd>
<dt>最大人数<dd><%= @room.max_player %></dd>
<dt>部屋のパスワード<dd><%= @room.room_pass %></dd>
</dl>
<div class="panel panel-default">
  <div class="panel-heading">詳細説明</div>
  <div class="panel-body">
    <%= @room.description.blank? ? '未入力' : simple_format(@room.description) %> 
  </div>
</div>

<%= link_to '編集する', edit_room_path, :action => "edit", class: "btn btn-default" %>

<% unless @room.players.empty? %>
<h2>現在の参加メンバー</h2>
<ol class="list-group">
  <% @room.room_members.order(:id).each_with_index do |room_member, i| %>
    <li class="list-group-item">
    <div class="row">
      <div class="col-md-7"><%= "#{h(i + 1)}. " + room_member.player.player_id_name %></div>
      <div class="col-md-2"><%= 'ルームリーダー可' if room_member.acceptable_room_leader %></div>
      <div class="col-md-2"><%= 'パーティーリーダー可' if room_member.acceptable_party_leader %></div> 
      <div class="col-md-1">
        <%= link_to 'キック', room_room_member_path(params[:uuid], room_member.id), :action => "destroy", method: :delete, class: "btn btn-danger btn-xs",
        data: { confirm: room_member.player.player_id_name + 'をキックしますか？' } %>
      </div>
    </div>
    </li>
  <% end %>
</ol>
<%= link_to '以上のメンバーでPT編成', organize_room_room_members_path(@room.uuid), method: :put, class: "btn btn-primary" %>
<%= link_to 'PT編成を削除', reset_organize_room_room_members_path(@room.uuid), method: :patch, class: "btn btn-danger" %>

<h3>PT編成</h3>
<% (1..@room.room_members.select(:room_number).uniq.count).each do |room_index| %>
<div class="well well-sm">
<h4><%= "ルーム " + room_index.to_s %></h4>
<div class="row">
  <% (1..@room.room_members.where(room_number: room_index).select(:party_number).uniq.count).each do |party_index| %>
    <div class="col-md-4">
    <div class="panel <%= party_index == 1 ? "panel-primary" : "panel-info" %>">
      <div class="panel-heading"><%= "パーティー " + party_index.to_s %></div>
      <ul class="list-group">
      <% @room.room_members.where(room_number: room_index, party_number: party_index).order("is_room_leader IS NULL, is_room_leader DESC", "is_party_leader IS NULL, is_party_leader DESC").each do |member| %>
        <li class="list-group-item">
        <%= member.player.player_id_name %>
        <% if member.is_room_leader %><span class="label label-primary">RM Leader</span>
        <% else %>
          <% if member.is_party_leader %><span class="label label-default">PT Leader</span><% end %> 
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>
</div>
</div>
<% end %>

<% end %>

<h3>固定に参加する</h3>
<%= render 'add_guest_form' %>

<p>
<% page_url = @room.short_url.blank? ? @page_url : @room.short_url%>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">このページのURL</span>
  <input class="form-control" aria-label="This page URI" value="<%= page_url %>" type="text" id="pageurl">
  <div class="input-group-btn">
    <%= link_to '>>URL短縮<<', shorturl_room_path, :action => "shorturl", method: :post, class: "btn btn-info cpy-btn" %>
    <button type="button" class="btn btn-default cpy-btn" data-clipboard-target="#pageurl" data-toggle="cpy-tooltip" data-title="Copy to clipboard" data-placement="bottom" aria-expanded="false" id="cpy-to-clip">クリップボードにコピー</button>
  </div>
</div>
</p>

<script>
var clipboard = new Clipboard('.cpy-btn');
$('[data-toggle="cpy-tooltip"]').tooltip();
clipboard.on('success', function(e) {
    console.log(e);
    $('[data-toggle="cpy-tooltip"]').attr("data-original-title", "Copied!").tooltip('fixTitle').tooltip("show");
    });
clipboard.on('error', function(e) {
    console.log(e);
    $('[data-toggle="cpy-tooltip"]').attr("data-original-title", "Error!").tooltip('fixTitle').tooltip("show");
    });
$('#cpy-to-clip').on('hidden.bs.tooltip', function () {
    $('#cpy-to-clip').attr("data-original-title", "Copy to clipboard");
});
</script>
