<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to "PSO2固定ポータル", root_path, :class => "navbar-brand", "data-target" => "#app-name-collapse" %>
    <div class="collapse navbar-collapse" id="app-name-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "固定一覧", rooms_path %></li>
        <li><%= link_to "グループ一覧", groups_path %></li>
        <li>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', users_login_path, method: :get %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
